.carousel-slide {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  position: relative;
}

/* Individual slide control */
.slide-1 {
  background-image: url("../assets/group.jpeg");
  background-position: center 30%;
}

.slide-2 {
  background-image: url("../assets/wide1.jpeg");
  background-position: center 35%;
}

.slide-3 {
  background-image: url("../assets/wide2.jpg");
  background-position: center 30%;
}

@media (max-width: 768px) {
  .carousel-slide {
    height: 250px;
    background-position: center 20%;
  }
}
